<!DOCTYPE html>
<html>
<head>
    <title>Partners</title>
    <link href="@Url.Content("~/Plugins/Uga.Partners/Content/styles.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Plugins/Uga.Partners/Scripts/jquery-1.10.2.min.js")"></script>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <div class="master-wrapper-page">
        <div class="master-wrapper-main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
